* {
    margin: 0;
    padding: 0;
    /* background: #ffd900; */
}

form {
    display: block;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* sidebar.css */

.sidebar {
    width: 250px;
    height: 85%;
    margin-bottom: 30px;
    position: fixed;
    top: 55px;
    left: 0;
    background-color: #c5980f;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.sidebar ul li ul li {
    padding: 5px;
    cursor: pointer;
}

.sidebar ul li ul li:hover {
    background: #26ff00;
    color: black;
}

.sidebar ul li:hover {
    background: #ffee00;
    color: black;
}

.add-project-btn,
.add-task-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.add-task-btn {
    background-color: #2196F3;
    margin-bottom: 50px;
    /* margin-left: 20px; */
}

.add-task-btn:hover {
    background-color: #0b7dda;
}

.add-project-btn:hover {
    background-color: #45a049;
}

.add-task-btn,
.add-project-btn {
    border-radius: 5px;
    width: 180px;
}

.add-task-btn a,
.add-project-btn a {
    color: white;
    text-decoration: none;
}

#content-wrapper {
    display: block;
    margin-left: 260px;
    margin-top: 100px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    height: 85%;
    width: 80%;
    overflow: auto;
}


/* Basic styling for the table */

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-right: 10px;
    font-size: 16px;
    text-align: left;
    background-color: #f8f9fa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


/* Styling for table header */

.task-table th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    border-bottom: 2px solid #dee2e6;
}


/* Styling for table cells */

.task-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dee2e6;
}

.task-table th,
.task-table td {
    border: 1px solid #dee2e6;
}

.task-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.task-table tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.task-table td.completed {
    text-decoration: line-through;
    color: #6c757d;
    /* Gray text color for completed tasks */
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.projects-section {
    position: absolute;
    left: 20px;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .task-table {
        font-size: 14px;
    }
}